{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_extends %}{% endblock %}</title>
    {% block head_extends %}{% endblock %}
</head>
<body>
    <header class="header-navigation" id="header">
  <nav>
    <div class="logo"><a href="http://www.yangqq.com">田敏伦个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li id="{% block nav_home %}{% endblock %}"><a href="{% url 'home' %}">网站首页</a></li>
        <li id="{% block nav_index %}{% endblock %}"><a href="{% url 'index' %}">博客</a></li>
{#      <li id="{% block nav_share %}{% endblock %}"><a href="../myblog/templates/blog/share.html">慢生活</a></li>#}
      <li id="{% block nav_list %}{% endblock %}"><a href="{% url 'picture' %}">图片集锦</a></li>
      <li class="menu" id="{% block nav_fengmian %}{% endblock %}"><a href="{% url 'fengmian' %}">学无止境</a>
        <ul class="sub">
          <li><a href="#">慢生活</a></li>
          <li><a href="#">美文欣赏</a></li>
        </ul>
      </li>
        <li><a href="{% url 'time' %}">时间轴</a></li>
    </ul>
    <div class="searchbox">
      <div id="search_bar" class="search_bar">
        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
          <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
          <input type="hidden" name="show" value="title" />
          <input type="hidden" name="tempid" value="1" />
          <input type="hidden" name="tbname" value="news">
          <input type="hidden" name="Submit" value="搜索" />
          <p class="search_ico"> <span></span></p>
        </form>
      </div>
    </div>
    {# 音乐 hidden="hidden"：是否隐藏   loop="loop"单曲循环#}
{#<iframe style="position: relative;left: 42em;" frameborder="no" border="0" marginwidth="0" marginheight="0" width=255 height=86 src="//music.163.com/outchain/player?type=2&id=28784206&auto=1&height=66"></iframe>#}
{#    <audio controls="controls" hidden="hidden" autoplay="autoplay">#}
{#    <source src="{% static 'music/文武贝 - 等你下课 (钢琴版).mp3' %}" type="audio/ogg" />#}
{#</audio>#}
      {# 音乐 #}
  </nav>
</header>
    {% block context %}{% endblock %}
</body>
</html>