{% extends 'base.html' %}
{% block title %}我的博客{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% block head_extends %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {# 博客列表 #}
            <div class="col-sm-8 col-md-9 col-lg-10">
                <!-- 如果没有设置小屏幕布局，到了小屏幕的宽度范围'博客分类'会自动掉下去 -->
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">
                                <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag"></span><!-- 图标 -->
                                    <a href="{% url 'blogs_with_type' blog.blog_type.pk %}"> {{ blog.blog_type }}</a>
                                    <span class="glyphicon glyphicon-time"></span>
                                    {{ blog.created_time|date:"Y-m-d"}}
                                </p>
                                <p>{{ blog.content|striptags|truncatechars_html:120 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>--暂不博客,敬请期待--</h3>
                            </div>
                        {% endfor %}<!--如果没有博客 -->
                    </div>
                </div>
                {# 分页 #}
                <div class="paginator">
                    <ul class="pagination">
                        {# 上一页 #}
                        <li>
                            {% if page_of_blogs.has_previous %}                            
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>                              
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %} 
                        </li>

                        {# 全部页码 #} 
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}<!--如果点击的页码等于当前页面-->
                                <!--当前页码不需要点击和转跳，所以span-->
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% else %}
                                {% if page_num == '...' %}{# 如果当前页面等于... #}
                                    <li><span>{{ page_num }}</span></li>{# ...也是页码 #}
                                 {% else %}
                                <!--如果不是当前页码就要a标签转跳-->
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {# 下一页 #}
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}                           
                        </li>
                    </ul>
                    <p>
                        一共有{{ page_of_blogs.paginator.count }}篇博客
                        当前第{{ page_of_blogs.number }}页,
                        共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>

            </div> 
            {# 博客分类 #}
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2"><!-- hidden-xs:超小屏幕隐藏分类 -->
                {# 博客分类 #}
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog_types">
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                        {{ blog_type.type_name }}（{{ blog_type.type_count }}）
                                    </a>
                                </li>
                            {% empty %}
                            <li>暂不分类，敬请期待！</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {# 日期归档 #}
                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date,date_count in blog_dates.items %}
                                <li>
                                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:"Y年m月" }}（{{ date_count }}）
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>   
        </div>
    </div>

    

{% endblock %}
