{# index,博客列表 #}
{% extends 'base.html' %}
{% load staticfiles %}
{% block nav_index %}selected{% endblock %}
<title>
    {% block title_extends %}{% endblock %}
</title>

{% block head_extends %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../static/css/base.css" rel="stylesheet">
    <link href="../../../static/css/index.css" rel="stylesheet">
    <link href="../../../static/css/m.css" rel="stylesheet">
    <script src="../../../static/js/jquery.min.js" ></script>
    <script src="../../../static/js/jquery.easyfader.min.js"></script>
    <script src="../../../static/js/hc-sticky.js"></script>
    <script src="../../../static/js/comm.js"></script>
    <script src="../../../static/js/scrollReveal.js"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
{% endblock %}

{% block context %}
    <article>
  <!--banner begin-->
  <div class="banner">
    <div id="banner" class="fader">

        <li class="slide" ><img src="{% static 'images/4.jpg' %}"><span class="imginfo">{# 个人博客 #}</span></li>
      <li class="slide" ><img src="{% static 'images/2.jpg' %}"><span class="imginfo"></span></li>
      <li class="slide" ><img src="{% static 'images/5.jpg' %}"><span class="imginfo"></span></li>
      <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list">
        </ul>
      </div>
    </div>
  </div>
  <!--banner end-->
  <div class="toppic">
    <li> <a href="https://space.bilibili.com/252028233/#/" target="_blank"> <i><img src="{% static 'blog/images/Django2.0img.webp' %}"></i>
      <h2>Django2.0视频教程</h2>
      <span>学无止境</span> </a> </li>
    <li> <a href="/" target="_blank"> <i><img src="../../../static/images/2.jpg"></i>
      <h2>个人博客，属于我的世界！</h2>
      <span>学无止境</span> </a> </li>
  </div>
  <main>
  <div class="news_box">
    <ul>
      <li><i><a href="{% url 'info' blog_pk=12 %}"><img src="{% static 'blog/images/Django2.0img.webp' %}"></a></i>
        <h3><a href="{% url 'info' blog_pk=12 %}">第一课：创建博客</a></h3>
      </li>
      <li><i><a href="{% url 'info' blog_pk=13 %}"><img src="{% static 'blog/images/Django2.0img.webp' %}"></a></i>
        <h3><a href="{% url 'info' blog_pk=13 %}">第二课：常用的模板和过滤器</a></h3>
      </li>
      <li><i><a href="{% url 'info' blog_pk=14 %}"><img src="{% static 'blog/images/Django2.0img.webp' %}"></a></i>
        <h3><a href="{% url 'info' blog_pk=14 %}"></a>第三课：模板嵌套</h3>
      </li>
      <li><i><a href="{% url 'info' blog_pk=15 %}"><img src="{% static 'blog/images/Django2.0img.webp' %}"></a></i>
        <h3><a href="{% url 'info' blog_pk=15 %}">第四课：css页面优化</a></h3>
      </li>
      <li><i><a href="{% url 'info' blog_pk=16 %}"><img src="{% static 'blog/images/Django2.0img.webp' %}"></a></i>
        <h3><a href="{% url 'info' blog_pk=16 %}">第五课：css框架协助前端布局</a></h3>
      </li>
      <li><i><a href="{% url 'info' blog_pk=17 %}"><img src="{% static 'blog/images/Django2.0img.webp' %}"></a></i>
        <h3><a href="{% url 'info' blog_pk=17 %}">第六课：Bootstrap响应式布局</a></h3>
      </li>
    </ul>
  </div>
  <div class="pics">
    <ul>
      <li><i><img src="../../../static/images/p1.jpg"></i><span>欢迎访问我的博客</span></li>
      <li><i><img src="../../../static/images/p2.jpg"></i><span>个人博客，属于我的世界！</span></li>
      <li><i><a href="" target="_blank"><img src="../../../static/images/p3.jpg"></a></i><span></span></li>
    </ul>
  </div>

  <div class="blogtab">
  <ul id="blogtab">
    <li class="current">最新文章</li>
    <li><a href="{# list.html #}">心得笔记</a></li>
{#    <li><a href="">CSS3|Html5</a></li>#}
    <li><a href="{% url 'fengmian' %}">学无止境</a></li>
    <li><a href="{% url 'time' %}">时间轴</a></li>
{#    <li><a href="">文字广告</a></li>#}
  </ul>

          <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{% url 'info' blog_pk=18 %}">Web前端开发之HTML+CSS|笔记</a></h3>
      <span class="blogpic"><a href="{% url 'info' blog_pk=18 %}" title=""><img src="//i1.hdslb.com/bfs/archive/c69dead02f2145fc3e0ae942f140c97e6ffc7e8c.jpg@400w_250h.webp" alt=""></a></span>
      <p class="blogtext">1.行级元素（inline）:不能换行，一行有多个inline，不可以通过css改变宽高，内容决定大小(可以占多行的) ... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{% url 'home' %}">田敏伦</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018年10月13日</li>
{#          <li class="view"><span></span>已阅读</li>#}
{#          <li class="like">0</li>#}
        </ul>
      </div>
    </div>


    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{% url 'info' blog_pk=19 %}">GitHub基本操作</a></h3>
      <p class="blogtext">
输入指令：git add "文件名称" .
          <br>
2.输入指令：git commit -m "解析上传内容"
          <br>
3.这一步从本地仓库或本地分支获取并集成(整合)，输入指令：git pull origin master...
          <br></p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{% url 'home' %}">田敏伦</a></li>
          <li class="lmname">学无止境</li>
          <li class="timer">2018-10-13</li>
{#          <li class="view">已阅读</li>#}
{#          <li class="like">0</li>#}
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{% url 'info' blog_pk=20 %}">JavaScript实现单前页面转跳</a></h3>
      <span class="bplist"><a href="{% url 'info' blog_pk=20 %}" title="">
      <li><img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2830126898,3910917481&fm=26&gp=0.jpg" alt=""></li>
      <li><img src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=09a4b0094b90f60304b09b410129d426/91ef76c6a7efce1b1e30f4f2ae51f3deb48f65ea.jpg" alt=""></li>
      <li><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1539456509436&di=8d80c6682d06b7abbeacd1dcd61e5789&imgtype=0&src=http%3A%2F%2Fs3.51cto.com%2Fwyfs02%2FM02%2F6B%2FCB%2FwKiom1U3EwOBaU9xAABAZFOefhU029.jpg" alt=""></li>
      </a>
      </span>
      <p class="blogtext">如图... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{% url 'home' %}">田敏伦</a></li>
          <li class="lmname">学无止境</li>
          <li class="timer">2018-10-13</li>
{#          <li class="view"><span></span>已阅读</li>#}
{#          <li class="like"></li>#}
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{% url 'info' blog_pk=21 %}">月薪五万的IT男 为什么并不开心？</a></h3>
      <span class="bigpic"><a href="{% url 'info' blog_pk=21 %}" title=""><img src="http://cms-bucket.nosdn.127.net/499c950a70814bda8dd98f6c952f250d20171026120116.png?imageView&thumbnail=280y215" alt=""></a></span>
      <p class="blogtext">他们的身心正在经历着哪些恶性循环？他们想要的幸福在哪里？他们还有“性”趣吗？... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{% url 'home' %}">田敏伦</a></li>
          <li class="lmname">学无止境</li>
          <li class="timer">2018-5-13</li>
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
        </ul>
      </div>
    </div>

{#      <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
{#      <span class="blogpic"><a href="/" title=""><img src="../../../static/images/6.jpg" alt=""></a></span>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a></h3>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view">4567已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
{#      <span class="bplist"><a href="/" title="">#}
{#      <li><img src="../../../static/images/7.jpg" alt=""></li>#}
{#      <li><img src="../../../static/images/8.jpg" alt=""></li>#}
{#      <li><img src="../../../static/images/9.jpg" alt=""></li>#}
{#      </a></span>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
{#      <span class="bigpic"><a href="/" title=""><img src="../../../static/images/10.jpg" alt=""></a></span>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
{#      <span class="blogpic"><a href="/" title=""><img src="../../../static/images/1.jpg" alt=""></a></span>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a></h3>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view">4567已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
{#      <span class="bplist"><a href="/" title="">#}
{#      <li><img src="../../../static/images/2.jpg" alt=""></li>#}
{#      <li><img src="../../../static/images/3.jpg" alt=""></li>#}
{#      <li><img src="../../../static/images/4.jpg" alt=""></li>#}
{#      </a></span>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
{#      <span class="bigpic"><a href="/" title=""><img src="../../../static/images/5.jpg" alt=""></a></span>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
{#      <span class="blogpic"><a href="/" title=""><img src="../../../static/images/6.jpg" alt=""></a></span>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a></h3>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view">4567已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="" target="_blank"></a></h3>#}
{#      <span class="bplist"><a href="/" title="">#}
{#      <li><img src="../../../static/images/7.jpg" alt=""></li>#}
{#      <li><img src="../../../static/images/8.jpg" alt=""></li>#}
{#      <li><img src="../../../static/images/9.jpg" alt=""></li>#}
{#      </a></span>#}
{#      <p class="blogtext">... </p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
{#      <span class="bigpic"><a href="/" title=""><img src="../../../static/images/10.jpg" alt=""></a></span>#}
{#      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#      <div class="bloginfo">#}
{#        <ul>#}
{#          <li class="author"><a href="/">杨青</a></li>#}
{#          <li class="lmname"><a href="/">学无止境</a></li>#}
{#          <li class="timer">2018-5-13</li>#}
{#          <li class="view"><span>34567</span>已阅读</li>#}
{#          <li class="like">9999</li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}


</div>
  </main>
  <aside class="r_box" >
      <div class="about_me">
        <h2>博主简介</h2>
        <ul>
          <i><img src="../../../static/images/4.jpg"></i>
          <p><b>田敏伦</b>，男，一个90后草根男站长！17年开始学习。一直潜心研究web后端端技术，一边学习一边积累经验。</p>
        </ul>
      </div>
      <div class="wdxc">
        <h2>图片精选</h2>
        <ul>
          <li><a href="/"><img src="{% static 'blog/images/1.jpg' %}"></a></li>
          <li><a href="/"><img src="{% static 'blog/images/3.jpg' %}"></a></li>
          <li><a href="/"><img src="{% static 'blog/images/6.jpg' %}"></a></li>
          <li><a href="/"><img src="{% static 'blog/images/7.jpg' %}"></a></li>
          <li><a href="/"><img src="{% static 'blog/images/8.jpg' %}"></a></li>
          <li><a href="/"><img src="{% static 'blog/images/9.jpg' %}"></a></li>
        </ul>
      </div>
      <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
            {% for blog_type in blog_types %}
                <li><a href="{% url 'blog_type' blog_type.pk %}">{{ blog_type }}（{{ blog_type.type_count }}）</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="tuijian">
        <h2 id="tab"><a href="#"class="current">活动公告</a><a href="#">点击排行</a><a href="#">站长推荐</a></h2>

     <div id="content">
        <ul style="display:block;">
          <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
          <li><a href="/">【活动作品】柠檬绿兔小白个人博客模板</a></li>
          <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
          <li><a href="/">2014年度优秀个人博客评选活动</a></li>
          <li><a href="/">你是什么人便会遇上什么人</a></li>
          <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
          <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
          <li><a href="/">个人博客模板《绅士》后台管理</a></li>
        </ul>
                <ul>
          <li><a href="/">你是什么人便会遇上什么人</a></li>
          <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
          <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
          <li><a href="/">个人博客模板《绅士》后台管理</a></li>
          <li><a href="/">你是什么人便会遇上什么人</a></li>
          <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
          <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
          <li><a href="/">黑色质感时间轴html5个人博客模板</a></li>
        </ul>
        <ul>
          <li><a href="/">个人博客，我为什么要用帝国cms？</a></li>
          <li><a href="/">D设计师博客-一个热爱生活的设计师</a></li>
          <li><a href="/">东轩博客，我看到了你的坚持！</a></li>
          <li><a href="/">程序员创业，就得“豁得出去”！</a></li>
          <li><a href="/">张建华 一个90后年轻站长！我们是对手亦是朋友！</a></li>
          <li><a href="/">《奋斗电商》看知名微商如何做博客引流？</a></li>
          <li><a href="/">《寻之旅》一个关于旅游，游记的个人博客</a></li>
          <li><a href="/">【匆匆那些年】总结个人博客经历的这四年</a></li>
        </ul>
       </div>
      </div>
      <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
          <img src="../../../static/images/wx.jpg">
        </ul>
      </div>

  </aside>
</article>
<footer>
  <p>Design by <a href="" target="_blank">田敏伦个人博客</a> <a href="/">蜀ICP备722501号-1</a><a href="/" class="links">友情链接</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
{% endblock %}


