{% extends 'base.html' %}
{% load staticfiles %}
<title>{% block title_extends %}{% endblock %}</title><meta charset="utf-8">
{% block nav_type %}selected{% endblock %}
{% block head_extends %}
    <meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
    <meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../static/css/base.css" rel="stylesheet">
    <link href="../../../static/css/time.css" rel="stylesheet">
    <link href="../../../static/css/m.css" rel="stylesheet">
    <script src="../../../static/js/jquery.min.js" ></script>
    <script src="../../../static/js/scrollReveal.js"></script>
    <script src="../../../static/js/time.js" ></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
{% endblock %}
<title>首页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>

{% block context %}
    <article style="margin-top: 5em;">
  <div class="timebox">
    <ul>
        {% for blog in blogs %}
            <li><span>{{ blog.last_time|date:"Y年m月d日" }}</span><i><a href="{% url 'info' blog.pk %}">{{ blog.title }}</a></i></li>
        {% empty %}
            <p>--暂无博客--</p>
        {% endfor %}
    </ul>
  </div>
        <div class="pagelist">
        <a title="Total record">&nbsp;<b>{{ blogs.count }}</b> </a>&nbsp;&nbsp;&nbsp;
        {% if page_of_blogs.has_previous %}
            <a href="?page={{ page_of_blogs.previous_page_number }}">上一页</a>&nbsp;
        {% else %}
            <span>上一页</span>
        {% endif %}
        {% for page in page_range %}
            {% if page == page_of_blogs.number %}
                <span><b style="color: #3690cf;">{{ page }}</b></span>
            {% else %}
                {% if page == '...' %}
                    <span>{{ page }}</span>
                 {% else %}
                    <a href="?page={{ page }}">{{ page }}</a>
                 {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_of_blogs.has_next %}
            <a href="?page={{ page_of_blogs.next_page_number }}">下一页</a>&nbsp;
        {% else %}
            <span>下一页</span>
        {% endif %}
        {#  <div class="pagelist"><a title="Total record">&nbsp;<b>160</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/jstt/index_2.html">2</a>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_2.html">下一页</a>&nbsp;<a href="/jstt/index_14.html">尾页</a></div>#}
</article>
<footer>
  <p>Design by田敏伦个人博客蜀ICP备722501号-1</p>
</footer>
<a href="#" class="cd-top">Top</a>
{% endblock %}
